{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> Python Assignments</title>
  </head>
  <body bgcolor="#faebd7">
    <table align="center" border="0" width="1000">
        <tr style="text-align: center;font-family: 'Agency FB';font-size: 50px;padding: 14px;color: darkblue;background-color: chartreuse">
            <th>
                ONLINE COURSES REGISTRATIONS PORTAL
            </th>
            </tr>
            <tr>
                <th style="align-content: center;padding: 10px;background-color: aquamarine;color: brown">
                    {% block menu %}
                        {% include 'main_menu.html' %}
                    {% endblock %}
                </th>
            </tr>
            <tr>
                <th>
                    {% block main  %}

                    {% endblock %}
                </th>
            </tr>
        <tr STYLE="text-align: center;color: brown;background-color: cyan;font-family: 'Arial Black';font-size:20px">
            <th>
            Copyrights@python with Venky
            </th>
        </tr>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>