{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> Python Assignments</title>
  </head>
  <body bgcolor="#7fff00">
    <table align="center" border="2" width="1200">
        <tr style="text-align: center;font-family: 'cursive';font-size:45px;padding: 14px;
        color: #0707f8;background-color: #e8817d;text-shadow: black 5px 5px 5px">
            <th>
                <img src="{% static 'images/swayam-portal1.jpg' %}"width="150" height="140">
            </th>
            <th>
                SWAYAM ONLINE COURSES REGISTRATIONS
            </th>
            <th><img src="{% static 'images/unnamed.jpg' %}" width="140" height="140"></th>
            </tr>

            <tr>
                <th  colspan="3" style="align-content: center;color: brown">
                    {% block menu %}
                        {% include 'main_menu.html' %}
                    {% endblock %}
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    {% block main  %}

                    {% endblock %}
                </th>
            </tr>
        <tr style="text-align: center;color: navy;background-color: #07f5f5;font-family: 'Times New Roman';
                    font-size:20px;text-shadow: #842323 3px 3px 3px" >
            <th colspan="3">
            Copyrights@python with Venky
            </th>
        </tr>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>