{% extends 'common.html' %}
{% block main %}
    {% load static %}
 <table align="center" style="text-align: center">
    <tr>
        <th bgcolor="#8a2be2">
            <img src="{% static 'images/AA.jpg' %}" width="300"height="400">
        </th>
        <th bgcolor="#8a2be2">
            <img src="{% static 'images/icon-student.png' %}" width="300"height="400">
        </th>
        <th bgcolor="#8a2be2">
           <img src="{% static 'images/course_registration.jpg' %}"width="300"height="400">
        </th>
    </tr>

</table>
{% endblock %}
