{% extends 'common.html' %}

{% block menu %}
    {% include 'admin_menu.html' %}
{% endblock %}
{% block main %}
{% load static %}
    <table class="table">
  <thead class="thead-light">
    <tr>
        <th  >SERIAL NO</th>
        <th >COURSE NAME</th>
        <th >FACULTY NAME</th>
        <th >DATE</th>
        <th >TIME</th>
        <th >TUITION FEE</th>
        <th >DURATION</th>
        <th>update</th>
        <th>delete</th>
    </tr>
        {% for x in data %}
         <tr>
             <th>{{ x.regn}}</th>
             <th>{{ x.cname}}</th>
             <th>{{ x.Faculty}}</th>
             <th>{{ x.Date}}</th>
             <th>{{ x.Time}}</th>
             <th>{{ x.Fee }}</th>
            <th>{{ x.Duration }}</th>
         </tr>
         {% endfor %}
  </thead>
</table>
{% endblock %}
