{% extends 'common.html' %}

{% block menu %}
    {% include 'admin_menu.html' %}
{% endblock %}
{% block main %}
{% load static %}
    <table class="table">
  <thead class="thead-light">
  <tr>
      <th COLSPAN="9" style="text-align: center;font-family: 'Agency FB';color: crimson;font-size: 30px;background-color: #07f14a;padding: 6px">
          LIST OF COURSES
      </th>
  </tr>
    <tr>
        <th  >SERIAL NO</th>
        <th >COURSE NAME</th>
        <th >FACULTY NAME</th>
        <th >DATE</th>
        <th >TIME</th>
        <th >TUITION FEE</th>
        <th >DURATION</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>
        {% for x in data %}
         <tr>
             <th>{{ x.regn}}</th>
             <th>{{ x.cname}}</th>
             <th>{{ x.Faculty}}</th>
             <th>{{ x.Date}}</th>
             <th>{{ x.Time}}</th>
             <th>{{ x.Fee }}</th>
            <th>{{ x.Duration }}</th>
            <th>
                <a href="{% url 'courseslist' %}?pdl={{ x.regn }}">
                <img src="{% static 'images/update.png' %}">
                </a>
            </th>
            <th>
                <a href="{% url 'courseslist' %}?pdl={{ x.regn }}">
                <img src="{% static 'images/trash-can.png' %}">
                </a>
            </th>
         </tr>
         {% endfor %}
  </thead>
</table>
{% endblock %}
