{% load static %}
<nav class="navbar navbar-expand-lg navbar-lite " style="background: khaki">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'student_home' %}">Student Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enrole New Course </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enrolled Courses</a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="#">Cancel Course</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Logout</a>
      </li>
        </li>
         <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </ul>
  </div>
</nav>