{% extends 'common.html' %}

{% block menu %}
    {% include 'stdent_menu.html' %}
{% endblock %}
{% block main %}
{% load static %}
    <form action="{% url 'studentloginhome' %}" method="post">
    {% csrf_token %}
    <table align="center"width="700">
        <tr>
            <th rowspan="5">
                <img src="{% static 'images/png.png' %}"width="300"height="300">
            </th>
        </tr>
        <tr>
            <th style="font-family: 'Agency FB';font-size: 26px;background: #06abf8;color:
                        crimson;padding: 10px;text-align: center">
                STUDENT LOGIN
            </th>
        </tr>
        <tr>
            <th style="text-align: center;padding: 7px;background:lavender;">
                <input type="text" placeholder="UserID" name="use" required>
            </th>
        </tr>
        <tr>
            <th style="text-align: center;padding: 7px;background:lavender;">
                <input type="password" placeholder="Password" name="psw" required>
            </th>
        </tr>
        <tr>
            <th style="text-align: center;padding:5px;background:lavender;">
               <button type="submit" class="btn btn-outline-primary">Login</button>
            </th>
        </tr>
        <tr>
            <th style=" text-align: center;background:#f10404;color:white;padding: 8px;font-size:18px;font-family: Arial">
                {{ eror }}
            </th>
        </tr>
    </table>
    </form>
{% endblock %}